<!DOCTYPE html>

<html>
   <head>
      <title>File Metadata</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <audio controls src="uploads/f6a35769e49d3fb6c4ad89b89cf2e921
"></audio>
      <div class="container">
        <h1>API Project: File Metadata Microservice</h1>
        <p>
          When you submit a file via the "Upload" form below, you will receive the file name, size in bytes, and MIME type in a JSON object.
        </p>

        <h2>Please Upload a File ...</h2>
        <div class="view">
          <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
            <input id="inputfield" type="file" name="upfile">
            <input id="button" type="submit" value="Upload">
          </form>
        </div>
      </div>
   </body>
</html>