<!DOCTYPE html>

<html>
   <head>
      <title>File Metadata</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <audio controls src="public/upfile-1551744633785.wav"></audio>
      <div class="container">
        <h1>API Project: File Metadata Microservice</h1>
        <p>
          When you submit a file via the "Upload" form below, you will receive the file name, size in bytes, and MIME type in a JSON object.
        </p>

        <h2>Please Upload a File ...</h2>
        <div class="view">
          <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse" id="upload">
            <input id="inputfield" type="file" name="upfile" required>
            <input id="button" type="submit" value="Upload">
          </form>
          <div id="jsonResult"></div>
        </div>
      </div>
     
     <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
     <script>
       $(function() { 
        $('#upload').submit(function(e) {
          $.ajax({
            url: '/api/fileanalyse',
            method: 'POST',
            data: $('#upload').serialize(),
            success: function(data) {
              $('#jsonResult').text(JSON.stringify(data));
            },
            error:function(error){
              console.log(error.responseText);
             }
          });
          e.preventDefault();
        });
       });
     </script>
   </body>
</html>