<!DOCTYPE html>

<html>
   <head>
      <title>File Metadata</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h1>API Project: File Metadata Microservice</h1>
        <p>
          When you submit a file via the "Upload" form below, you will receive the file name, size in bytes, and MIME type in a JSON object.
        </p>

        <h2>Please Upload a File ...</h2>
        <div class="view">
          <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse" id="upload">
            <input id="inputfield" type="file" name="upfile" required>
            <input id="button" type="submit" value="UPLOAD">
          </form>
          <form method="GET" action="/music/directory" id="currentFiles">
            <input id="getFiles" type="submit" value="LOAD .WAV FILES">
          </form>
          <div id="jsonResult"></div>
        </div>
      </div>
     
     <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
     <script>
       $(document).ready(function() {
        
        $('#currentFiles').submit(function(e) {
          $.ajax({
            url: '/music/directory',
            type: 'get',
            data: $('#currentFiles').serialize(),
            success: function(data) {
              for(let i = 0; i < data.files[0].length; i++) {
                let audio = document.createElement("audio");
                audio.src = data.files[0][i];
                audio.controls = "true";
                $("#jsonResult").append(audio);
              }
            }
          });
          e.preventDefault();
        });

        const http = new XMLHttpRequest();
        const url='/music';
        http.open("GET", url);
        http.send();
        http.onreadystatechange = function() {
          if(this.readyState == 4) {
            $.ajax({
              url: '/music',
              type: 'get',
              data: $('#currentFiles').serialize(),
              success: function(data) {
                console.log(data);
                if(data.files[0]) {
                  let select = document.createElement("select");
                  select.required = "true";
                  select.name = "directory";
                  for(let i = 0; i < data.files[0].length; i++) {
                    let option = document.createElement("option");
                    console.log(option);
                    option.value = data.files[0][i];
                    option.innerText = data.files[0][i];
                    select.append(option);
                  }
                  document.querySelector("#currentFiles").append(select);
                }
              }
            });
          }
        } 
       });
     </script>
   </body>
</html>