body {
	background-color: aliceblue;
  color: #222;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-align: center;
}

a {
  display: block;
  margin: 5px 0;
}

.container {
	padding: 0;
	margin-top: 40px;
}

.footer {
	margin-top: 60px;
}

ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}

a {
	color: #2574A9;
}

form {
  display: flex; 
  justify-content: center;
}

input {
  display: block;
  font-size: 18px; 
  padding: 10px 0;
  position: relative;
  margin: 10px auto;
}

input[type="submit"] {
  padding: 5px 20px;
}

input#button {
  background: royalblue;
  border: 1px solid blue;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  width: 200px;
}

input#button:hover {
  background-color: black;
  border: 1px solid black;
}

.view {
  background: ghostwhite;
  position:relative;
  margin: auto;
  margin-top: 40px;
  border: 1px solid #aaa;
  padding: 20px;
  width: 60%;
  min-width: 400px;
}
